<%= form_for(@etf) do |f| %>
  <% if @etf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etf.errors.count, "error") %> prohibited this etf from being saved:</h2>

      <ul>
      <% @etf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
