<h1>Listing etfs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @etfs.each do |etf| %>
  <tr>
    <td><%= link_to 'Show', etf %></td>
    <td><%= link_to 'Edit', edit_etf_path(etf) %></td>
    <td><%= link_to 'Destroy', etf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Etf', new_etf_path %>
